<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h2>Write new chat here</h2>
    <form method="POST" action="/chats">
        <input placeholder="who are you?" name="from"/>
        <br/><br/>
        <textarea placeholder="write your message" name="msg"></textarea>
        <br/><br/>
        <input placeholder="add reciever" name="to"/>
        <br/><br/>
        <button>create chat</button>
    </form>
</body>
</html>